
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Tarjetas */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(79, 70, 229, 0.4); /* brillo azul-violeta */
}

.scala{
    transition: transform 0.3s ease;
}

.scala:hover{
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.tech{
    padding: 0.5rem 0;
    background-color: black;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: default;
    white-space: normal;
    word-break: break-word;
}

